body {
  color: #452970;
  font-family: 'Poppins', sans-serif;
  background-image: url(../images/blocks.svg), url(../images/purple_bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 540px, 500px;
  min-height: 100vh;
  background-attachment: fixed, fixed;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.75rem;
}

.actions {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bg {
  position: absolute;
  right: 0;
  top: 0;
}

.blocks {
  position: absolute;
  right: 0;
  top: 300px;
}

.typeform-share {
  background-color: #452970;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Poppins;
  font-size: 29px;
  font-weight: bold;
  padding: 14px 23px;
  text-decoration: none;
}

.typeform-share:hover {
  background-color: #9180FF;
}

.typeform-share:active {
  position: relative;
  top: 1px;
}

.btn2 {
  background-color: #ffffff;
  border-radius: 3px;
  border: 7px solid #A40E4C;
  display: inline-block;
  cursor: pointer;
  color: #A40E4C;
  font-family: Poppins;
  font-size: 29px;
  font-weight: bold;
  padding: 7.5px 30px;
  text-decoration: none;
  margin-left: 3rem;
}

.btn2:hover {
  border: 7px solid #FFAA97;
  color: #FFAA97;
}

.btn2:active {
  position: relative;
  top: 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 63%;
}

.wrapper {
  position: relative;
  padding: 3rem 0 0 3rem;
  max-width: 1500px;
  margin: 0 auto;
}

.really {
  color: #A40E4C;
}

.text {
  padding-top: 1rem;
  width: 44.4%;
}

.connected {
  margin-top: 1.5rem;
  animation: shake 3.0s cubic-bezier(.36, .07, .19, .97) both;
  animation-delay: 2.0s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.connected:hover {
  animation: none;
}

.connected-low {
  display: none;
  padding-top: 3rem;
}

.btm_img {
  display: none;
}

@media (max-width: 1320px) {
  .btn2 {
    font-size: 20px;
    margin-left: 2rem;
    border: 6px solid #A40E4C;
  }

  .btn2:hover {
    border: 6px solid #FFAA97;
  }

  .typeform-share {
    font-size: 20px;
  }

  .typeform-share {
    padding: 12px 23px;
  }
}

@media (max-width: 1230px) {
  .header {
    width: 55%;
  }

  .text {
    width: 40%
  }

  .btn2 {
    margin-left: 1rem;
  }
  .connected {
    display: none;
    }

    .connected-low {
    display: block;
    margin: 2rem 0;
    animation: shake 3.0s cubic-bezier(.36, .07, .19, .97) both;
    animation-delay: 2.0s;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}

@media (max-width: 1023px) {

  .text {
    width: 40%;
    font-size: 22px;
  }

  .btn2 {
    font-size: 16px;
    margin-left: 2rem;
    border: 5px solid #A40E4C;
  }

  .btn2:hover {
    border: 5px solid #FFAA97;
  }

  .typeform-share {
    font-size: 16px;
  }

  .typeform-share {
    padding: 12px 23px;
  }
}

@media (max-width: 980px) {
body {
  background-image: none;
}
.text {
  width: 100%;
}
.connected {
  display: block;
  }

  .connected-low {
  display: none;
}

.header {
  width: 100%;
}

}

@media (max-width: 660px) {

  .connected {
    display: none;
    }

    .connected-low {
    display: block;
    margin: 2rem 0;
    animation: shake 3.0s cubic-bezier(.36, .07, .19, .97) both;
    animation-delay: 2.0s;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .btm_img {
    display: block;

  }
  .mobile {
    width: 100vh;
  float: right;
  }
}


@media (max-width: 500px) {

  .text {
    width: 100%;
  }
  }

@media (max-width: 444px) {

  .btn2 {
    font-size: 10px;
    margin-left: 1rem;
  }

  .typeform-share {
    font-size: 10px;
  }

}
@media (max-width: 348px) {

  .btn2 {
    font-size: 10px;
    padding: 7.5px 26px;
    margin-left: 0;
    margin-top: 2rem;
  }

  .typeform-share {
    font-size: 10px;
  }

}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
